.introduction {
    background-image: url("../images/background/header.jpg");
    padding-bottom: 55%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-position: top;
}

.welcome {
    position: absolute;
    top: 38%;
    left: 35%;
}

.mouse-click {
    margin-top: 48%;
}