.introduction {
    background-image: url("../images/background/header.jpg");
    padding-bottom: 55%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-position: top;
}

.welcome {
    position: absolute;
    top: 38%;
    left: 35%;
}

.mouse-click {
    margin-top: 48%;
}

.about-us {
    text-align: center;
}

.services {
    background-image: url("../images/background/comp.jpg");
    padding-bottom: 25%;
    background-repeat: no-repeat;
    margin-top: 30px;
    color: white;
    text-align: center;
}

.centered {
    position: absolute;
    top: 150%;
    left: 25%;
}