.introduction {
    background-image: url("../images/background/header.jpg");
    padding-bottom: 55%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-position: top;
}

.welcome {
    position: absolute;
    top: 38%;
    left: 35%;
}

.mouse-click {
    margin-top: 48%;
}

.about-us {
    text-align: center;
}

.services {
    background-image: url("../images/background/comp.jpg");
    padding-bottom: 25%;
    background-repeat: no-repeat;
    margin-top: 30px;
    color: white;
    text-align: center;
}

.centered {
    position: absolute;
    top: 150%;
    left: 25%;
}

#boom1 {
    display: none;
}

#pic1 {
    display: show;
}

#boom2 {
    display: none;
}

#pic2 {
    display: show;
}

#boom3 {
    display: none;
}

#pic3 {
    display: show;
}

.work p {
    position: relative;
    font-size: 30px;
    top: -50%;
    text-align: center;
    display: none;
}

h3 {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.contact {
    background-image: url("../images/background/footer.jpg");
    padding-bottom: 5%;
    background-position: top;
}